* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* border: rgb(59, 59, 87) solid 2px; */
    background-color: #373F47;
    width: 38%;
    height: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    /* border: red solid 2px; */
    width: 80%;

    margin-bottom: 2rem;
    display: flex;
    align-items: flex-end;
}

input {
    /* border: black solid 1px; */
    width: 80%;
    height: 2rem;

    padding-left: 1rem;
    outline: none;

    margin-top: 2rem;
}

.add {
    width: 20%;
    height: 2rem;
}

.list {
    /* border: red solid 2px; */
    width: 100%;
    height: fit-content;
    height: 25rem;
    overflow-y: auto;
    
}

@media screen and (min-width: 350px) and (max-width: 500px) {
    
    body {
        width: 100%;
        height: 100vh;
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .container {
        /* border: rgb(59, 59, 87) solid 2px; */
        background-color: #373F47;
        width: 100%;
        height: 100vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list {
        /* border: red solid 2px; */
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        
    }
}