* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* border: rgb(59, 59, 87) solid 2px; */
    background-color: #373F47;
    width: 38%;
    height: 30rem;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    /* border: red solid 2px; */
    width: 100%;
    display: flex;
}

input {
    border: black solid 1px;
    width: 80%;
    height: 2rem;

    padding-left: 1rem;
    outline: none;

    margin-top: 2rem;
}

.list {
    /* border: red solid 2px; */
    width: 100%;
    height: fit-content;
    height: 25rem;
    /* overflow-y: scroll; */
}

